<h1>Recipes</h1>

<%= form_with url: "/recipes/search", method: :get do |form| %>
  <%= form.label :query, "Find from ingredients:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <h2><%= recipe.title %></h2>
      <p><%= recipe.ingredients %></p>
    </li>
  <% end %>
</ul>