<h1>Résultats de recherche</h1>

<div class="d-flex justify-content-between">
  <p class="fw-bold">
    <%= @found_recipes.size%>
    <% if @found_recipes.size > 1 %>
      Recettes
    <% else %>
      Recette
    <% end %>
    à base de <%= @query%>
  </p>
  <%= link_to "Nouvelle recherche", "/", class: "btn btn-outline-primary" %>
</div>

<div class="mt-2">
  <% if @found_recipes.empty? %>
    <p>Aucune recette ne correspond à votre liste d'ingrédients</p>
  <% else %>
  <div class="list-group list-group-flush">
    <% @found_recipes.each do |recipe| %>
      <a href=<%= "#{recipe.id}" %> class="list-group-item">
        <h2><%= recipe.title %></h2>
        <p><%= recipe.ingredients %></p>
      </a>
    <% end %>
  </div>
  <% end %>
</div>