<div id="<%= dom_id ingredient %>">
  <p>
    <strong>Name:</strong>
    <%= ingredient.name %>
  </p>

  <p>
    <strong>Energy:</strong>
    <%= ingredient.energy %>
  </p>

  <p>
    <strong>Carbohydrate:</strong>
    <%= ingredient.carbohydrate %>
  </p>

  <p>
    <strong>Salt:</strong>
    <%= ingredient.salt %>
  </p>

  <p>
    <strong>Protein:</strong>
    <%= ingredient.protein %>
  </p>

  <p>
    <strong>Lipids:</strong>
    <%= ingredient.lipids %>
  </p>

  <p>
    <strong>Sugar:</strong>
    <%= ingredient.sugar %>
  </p>

  <p>
    <strong>Fibers:</strong>
    <%= ingredient.fibers %>
  </p>

  <p>
    <strong>Saturated fatty acids:</strong>
    <%= ingredient.saturated_fatty_acids %>
  </p>

</div>
